
html {
  background-color: #131516;
}

h1 {
  color: #edebe8;
}

.main-content {
    margin-left:20%;
    padding:1px 16px;
}


.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(23, 25, 26);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.nav-li a {
  display: block;
  color: rgb(237, 235, 232);
  padding: 8px 16px;
  text-decoration: none;
}
#nav-active {
  color: green;
}
.nav-li a.active {
  background-color: #4CAF50;
  color: white;
}

.nav-li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
